services:
  wsfs-test:
    build:
      context: .
      dockerfile: Dockerfile
    privileged: true
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    env_file:
      - .env
    volumes:
      - .:/work
    working_dir: /work
